<div class="container-fluid">
<style>
	.list-group.active {
		display:none;
	}
	.draft { 
		color: #ccc;
	}
</style>
<div class="row big-list">
	<div ng-hide="sync.data"><h1>Loading</h1></div>
	<div ng-show="sync.data.length == 0"><h2>No data</h2></div>
</div>
<div class="row big-list" ng-show="sync.data.length">
	<div class="col-md-5 col-no-padding">
		<ul class="nav nav-pills nav-justified">
			<li id="todo" role="presentation" class="tab active no-radius">
				<a data-toggle="tab" ng-click="sync.current.filter={state:'draft'}">Order to do</a>
			</li>
			<li id="done" role="presentation" class="tab no-radius">
				<a data-toggle="tab" ng-click="sync.current.filter={state:'done'}">Order done</a>
			</li>
		</ul>
		<ion-scroll class="prodoo-ion-scroll" direction="y">
			<ul class="list-group tab">
				<li ng-repeat="item in sync.data | filter: sync.current.filter | orderBy: 'sequence'" class="list-group-item list-link"	ng-click="sync.current.item = item" ng-class="{true: 'active'}[sync.current.item==item]">
					{{ item.lot_number }} {{ item.name}} 
				</li>
			</ul>
		</ion-scroll>
	</div>
	<div class="col-md-7" style="position:relative" ng-class="{true: 'draft'}[sync.current.item.state=='done']">
		<ion-scroll class="prodoo-ion-scroll" direction="y">
		<h1>Détails</h1>
		<div class="well">
			<h3>Opération {{ sync.current.item.name}}</h3>
			<p>State: {{ sync.current.item.state}}	{{ sync.current.item.casier }} </p>
			<div ng-bind-html="sync.current.item.description"></div>
			<h2>Casiers</h2>
			<table class="table">
				<tr ng-repeat="field in fields">
					<th>{{ field.name }}</th>
					<td ng-repeat="rack in field.rack">{{ rack }}</td>
				</tr>
			</table>
		</div>

		<form name="grid" ng-submit="formSubmitted=1">
		<table class="table">
			<tr>
				<th ng-repeat="field in fields">{{ field.name }}</th>
				<th>Casier</th>
			</tr>
			<tbody ng-repeat="scan in scans track by $index">
				<tr ng-form="">
					<td ng-repeat="s in scan track by $index">
						<input ng-model="scan[$index]" required="true" id="scan-{{$parent.$index + '-' + $index}}" enter-focus="scans"></input>
					</td>
					<td><input ng-model="casier[$index]" required="true" id="casier-{{$index}}-0" enter-focus="scans"></input></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Ok" ng-disabled="grid.$invalid"> {{ scans }}
		</form>


		<div ng-show="sync.current.item.state == 'done'">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button class="btn btn-info" ng-click="do(sync.current.item)"><span class="glyphicon glyphicon-repeat"></span> Redo</button>
				</div>
			</div>
		</div>
		<div ng-hide="sync.current.item.state == 'done'">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button class="btn btn-success" data-toggle="modal" data-target="#casier-modal" ng-click="do(sync.current.item)"><span class="glyphicon glyphicon-print"></span> OK</button>
				</div>
			</div>
		</div>

		</ion-scroll>


	</div>
</div>
</div>