'use strict';

angular.module('prodapps').provider('prodooConfig', [ function  prodooConfigProvider() {
	this.config = {
		server: '',
		db: 'db',
		refreshInterval: 5000,
		fetchLimit: 50
	};

	this.$get = [function () {
			return this.config;
	}];

	return this;
}])