.code-bar {
  font-family: "Code39AzaleaFont";
  font-size: 60px;
}

.prodoo-ion-scroll {
    width: 100% !important;
    height: 90vh !important;
    position: absolute !important;
    overflow: hidden !important;
}

body {
  padding-top: 0 !important;
}

.haute-ligne {
    height: 3.5em;
}
.haute-ligne {
    height: 3.5em;
}

.btn-primary {
    color: #000;
}

.btn-success {
    color: #000;
}

.btn-info {
    color: #000;
}

.btn-warning {
    color: #000;
}

.btn-danger {
    color: #000;
}
.disabled {
	box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
    color:#fff;
}

.btn-success[disabled] {
 background: transparent repeating-linear-gradient(135deg, #4CAE4C, #4CAE4C 10px, #449D44 10px, #449D44 20px);
}

tbody.ng-valid {
    background-color: #4cae4c;
}

tbody.ng-valid-ensure-value.ng-invalid {
   background: repeating-linear-gradient(
    45deg,
    #f0ad4e,
    #f0ad4e 10px,
    #ec971f 10px,
    #ec971f 20px
  );
}
tbody.ng-invalid-ensure-value.ng-dirty {
    background: repeating-linear-gradient(
      45deg,
      #d9534f,
      #d9534f 10px,
      #c9302c 10px,
      #c9302c 20px
    );
}

tbody.ng-invalid-ensure-value.ng-pristine {
    background: repeating-linear-gradient(
    45deg,
    #d9534f,
    #d9534f 10px,
    #c9302c 10px,
    #c9302c 20px
  );
}

tbody.ng-valid>tr.locked {
background: transparent repeating-linear-gradient(45deg, #4CAE4C, #4CAE4C 10px, #449D44 10px, #449D44 20px);
}


