.code-bar {
  font-family: "Code39AzaleaFont";
  font-size: 60px;
}

.prodoo-ion-scroll {
	width: 100% !important;
	height: 600px !important;
	position: absolute !important;
	overflow: hidden !important;
}