.code-bar {
  font-family: "Code39AzaleaFont";
  font-size: 60px;
}

.prodoo-ion-scroll {
    width: 100% !important;
    height: 100vh !important;
    position: absolute !important;
    overflow: hidden !important;
}

body {
  padding-top: 0 !important;
}
