	<link rel="stylesheet" href="http://azalea.com/web-fonts/Code39Azalea.min.css">
	<style>
	.similar {
		background-color: #ccc;
	}
	</style>
	<div class="container-fluid">
		<div class="row big-list">
			<div class="col-md-4 col-no-padding">

				<ul class="nav nav-pills nav-justified">
					<li id="todo" role="presentation" class="tab no-radius">
						<a> Order to do</a>
					</li>
				</ul>
				<ul class="list-group tab ">
					<li ng-repeat="item in sync.data | filter: sync.current.filter | orderBy: 'sequence'" ng-click="sync.current.item = item" ng-class="{'similar': (sync.current.item.sale_name==item.sale_name), 'active': (sync.current.item == item) }" class="list-group-item list-link">	{{ item.lot_number }} {{ item.name}}</li>
				</ul>
			</div>
			<div class="col-md-4 col-no-padding">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>{{ sync.current.item.name }}</h2>
						<p>{{ sync.current.item.lot_number }}</p>
					</div>
					<div class="panel-body">
						<div ng-bind-html="sync.current.item.description"></div>
					</div>
					<div class="pull-right" ng-show="sync.sync.current.item.state != 'done'">
						<button class="btn btn-success" ng-click="do(sync.current.item)">OK</button>
					</div>
					<div class="pull-right" ng-show="sync.current.item.state == 'done'">
						<button class="btn" ng-click="print(sync.current.item)">Print</button>
						<button class="btn" ng-click="markAsDone(sync.current.item)">Redo</button>
					</div>
				</div>

				<ul class="list-group">
					<li ng-repeat="item in sync.data | filter: {sale_name: sync.current.item.sale_name, state: 'done'}" ng-hide="item == sync.current.item" class="list-group-item list-link no-radius clearfix">
						<p>{{ item.lot_number }} {{ item.name }}</p>
						 <button class="btn pull-right" ng-click="print(sync.current.item)">Print</button>
						 <button class="btn pull-right" ng-click="markAsDone(sync.current.item)">Redo</button>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-no-padding">
				<ul class="nav nav-pills nav-justified">
					<li id="todo" role="presentation" class="tab no-radius"><a> Order done</a></li>
				</ul>
				<ul class="list-group">
					<li ng-repeat="item in salesDone | orderBy: 'sequence'" ng-click="sync.current.item = item" ng-class="{'similar': (sync.current.item.sale_name==item.sale_name), 'active': (sync.current.item == item) }" class="list-group-item list-link">{{ item.lot_number }} {{ item.name}}</li>
				</ul>
			</div>
		</div>
	</div>
