.code-bar {
  font-family: "Code39AzaleaFont";
  font-size: 60px; }

.prodoo-ion-scroll {
  width: 100% !important;
  height: 90vh !important;
  position: absolute !important;
  overflow: hidden !important; }

.oe_list_content {
  border-color: #cacaca;
  border-style: solid;
  border-style: solid;
  width: 100%; }

.oe_list_content thead td {
  border: 1px solid;
  border-color: #cacaca;
  background-color: #bacaca;
  font-weight: bold;
  font-size: 150%;
  text-align: left; }

.oe_list_content tbody td {
  border: 1px solid;
  border-color: #cacaca;
  font-size: 120%;
  text-align: left; }

body {
  padding-top: 0 !important; }

.haute-ligne {
  height: 3.5em; }

.haute-ligne {
  height: 3.5em; }

.btn-primary {
  color: #000; }

.btn-success {
  color: #000; }

.btn-info {
  color: #000; }

.btn-warning {
  color: #000; }

.btn-danger {
  color: #000; }

.disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
  color: #fff; }

.btn-success[disabled] {
  background: transparent repeating-linear-gradient(135deg, #4CAE4C, #4CAE4C 10px, #449D44 10px, #449D44 20px); }

tbody.ng-valid {
  background-color: #4cae4c; }

tbody.ng-valid-ensure-value.ng-invalid {
  background: repeating-linear-gradient(45deg, #f0ad4e, #f0ad4e 10px, #ec971f 10px, #ec971f 20px); }

tbody.ng-invalid-ensure-value.ng-dirty {
  background: repeating-linear-gradient(45deg, #d9534f, #d9534f 10px, #c9302c 10px, #c9302c 20px); }

tbody.ng-invalid-ensure-value.ng-pristine {
  background: repeating-linear-gradient(45deg, #d9534f, #d9534f 10px, #c9302c 10px, #c9302c 20px); }

tbody.ng-valid > tr.locked {
  background: transparent repeating-linear-gradient(45deg, #4CAE4C, #4CAE4C 10px, #449D44 10px, #449D44 20px); }

.test-ribbon {
  width: 300px;
  top: 25px;
  left: -100px;
  text-align: center;
  padding: 10px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #f0f0f0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 9999;
  position: fixed;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background: rgba(255, 0, 0, 0.6);
    background-color: rgba(255, 0, 0, 0.6);
  pointer-events: none;
}
