<div  style="position: fixed; width: 100%; height: 100%;">
<div class="container-fluid" >
<style>
    .list-group.active {
        display:none;
    }
    .draft {
        color: #666;
    }

    tbody.ng-invalid-ensure-value.ng-dirty {
      background-color:#f2dede;
    }
    .haute-ligne {
        height: 3.5em;
    }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

</style>

<div class="row big-list">
    <div ng-if="!sync.data"><h1>Loading
        <span class="glyphicon glyphicon-refresh" style="animation-timing-function: steps(8, start); animation: 1s linear 0s normal none infinite running spin; "></span>
        </h1>
    </div>
    <div ng-show="sync.data.length == 0"><h2>No data</h2></div>
</div>

<div class="row big-list" ng-show="sync.data.length">
    <div class="col-md-5 col-no-padding">
        <div ui-view="orderList"></div>
    </div>
    <div class="col-md-7" style="position:relative" ng-class="{true: 'draft'}[sync.current.item.state=='done']">
        <!-- start button -->
        <div ng-show="sync.current.item.btnStartEnable">
            <div class="well" style="height:600px;" ng-click="start(sync.current.item)" ng-show="sync.current.item" ng-hide="sync.current.item._v.started">
                <h1>{{ sync.current.item.name }}</h1>
                <h2>{{ sync.current.item.lot_number }}</h2>
                <button class="btn btn-success haute-ligne" style="width:100%;" ng-hide="sync.current.item.resign_reason"> Start </button>
                <div ng-show="sync.current.item.resign_reason">
                    <button class="btn btn-success haute-ligne" style="width:100%;">Continue</button>
                    <p>{{sync.current.item.resign_reason}}</p>
                </div>
            </div>
        </div>

        <!-- end start button -->

        <ion-scroll class="prodoo-ion-scroll"  delegate-handle="rightScroll" direction="y" ng-show="sync.current.item._v.started || !sync.current.item.btnStartEnable">
            
            <div class="well">
                <h3>{{ sync.current.item.name}}</h3>
                <div ng-bind-html="sync.current.item.description"></div>
                <h2 ng-show="fields.length">Shelves</h2>
                <table class="table">
                    <tr ng-repeat="field in fields">
                        <th>{{ field.name }}</th>
                        <td>{{ field.rack }}</td>
                    </tr>
                </table>
            </div>

            <!-- Book operation -->
            <div>
                <div class="btn-group btn-group-justified">
                    <div class="btn-group" ng-show="sync.current.item.workcenter_id != workcenter">
                        <button ng-show="sync.current.item.workcenter_id" class="btn btn-success haute-ligne" ng-click="take(sync.current.item)" ng-disabled="sync.current.item._v.lock">
                            <span class="glyphicon glyphicon-download-alt"></span> 
                            Book 
                            <span class="badge badge-default">+ {{ sameLotNumber.length }}</span>
                        </button>
                        <button ng-hide="sync.current.item.workcenter_id" class="btn btn-danger haute-ligne" disabled>Already taken by someone else</button>
                    </div>
                </div>
            </div>

            <!-- Raw materials scan operation -->
            <form name="raw_materials" ng-submit="rawMaterialScan(sync.current.item)" ng-show="sync.current.item._v.raw_materials.expected.length">
                <fieldset ng-disabled="sync.current.item.workcenter_id != workcenter">
                    <!-- Raw materials to be scanned -->
                    <table class="table table-condensed" style="word-break: break-all;">
                        <tr>
                            <th>Material</th>
                            <th>Barcode</th>
                        </tr>
                        <tr ng-repeat="material in sync.current.item._v.raw_materials.expected track by $index"
                        ng-class="{true: 'locked'}[material.scanned]">
                            <td>{{ material.name }}</td>
                            <td>{{ material.barcode }} <input type="checkbox" ng-model="material.scanned" required disabled> {{material.scanned }}</td>
                        </tr>
                        <tr>
                           <td>Scan here all the bardcodes</td>
                           <td><input name="raw_mat_input" ng-model="sync.current.item._v.raw_materials.input"></td>
                        </tr>
                    </table>{{ raw_materials.$invalid }}
                </fieldset>
            </form>

            <!-- Scrap select action -->
            <div class="panel panel-default" ng-show="sync.current.item.scrap_managment">
                <div class="panel-heading">Scrap actions</div>
                <div class="panel-body">

                    <div class="input-group">
                        <div class="input-group-addon" >
                            <label for="searchScrapInput">
                                <span class="glyphicon glyphicon-search"></span>
                            </label>
                        </div>
                        <input ng-model="scrap.material" class="form-control haute-ligne" id="searchScrapInput" ng-keypress="searchScrapEnter($event)" placeholder="search scrap" ng-focus="eraseScrapSearch()">
                        <!-- scrap action buttons -->
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary haute-ligne" ng-click="searchScrap(sync.current.item)">Search</button>
                            <button type="button" class="btn btn-success haute-ligne" ng-click="(scrap.add) ? (scrap.add=false):(scrap.add=true)" style="margin-left: 5px;">Add</button>
                        </span>
                    </div>

                    <!-- Scrap add operation -->
                    <form name="scrap_add" ng-submit="addScrap(sync.current.item)" ng-show="scrap.add">
                        <p class="h4 mb-4">Add new scrap</p>
                        <fieldset>
                            <table class="table table-condensed" style="word-break: break-all;">
                                <tr>
                                    <th>Height (mm)</th>
                                    <th>Width (mm)</th>
                                    <th>Location</th>
                                    <th ng-show="sync.current.item.scrap_d_qty">Quantity</th>
                                    <th>Material (A00 code)</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="haute-ligne col-md-6" required="true" size="16" type="number" ng-model="scrap.height">
                                    </td>
                                    <td>
                                        <input class="haute-ligne col-md-6" required="true" size="16" type="number" ng-model="scrap.width">
                                    </td>
                                    <td>
                                        <input class="haute-ligne col-md-10" required="true" size="16" type="text" ng-model="scrap.location">
                                    </td>
                                    <td ng-show="sync.current.item.scrap_d_qty">
                                        <input class="haute-ligne col-md-10" size="16" type="number" ng-model="scrap.qty">
                                    </td>
                                    <td>
                                        <input class="haute-ligne col-md-10" size="16" type="text" ng-model="scrap.material">
                                    </td>
                                </tr>
                            </table>
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success haute-ligne" 
                                        > Add
                                    </button>
                                </div>
                            </div>
                        </fieldset>

                    </form>

                    <br/>

                    <!-- Scrap use operation -->
                    <form name="scrap_use" ng-submit="" ng-show="scrap.search">
                        <fieldset>
                            <table class="table table-condensed table-bordered" style="word-break: break-all;">
                                <tr>
                                    <th>Height</th>
                                    <th>Width</th>
                                    <th>Location</th>
                                    <th ng-show="sync.current.item.scrap_d_qty">Quantity</th>
                                    <th>Material</th>
                                    <th>Use</th>
                                </tr>
                                <tr class="success" ng-repeat="item in scrap.avaiable">
                                    <td>
                                        {{ item.height }}
                                    </td>
                                    <td>
                                        {{ item.width }}
                                    </td>
                                    <td>
                                        {{ item.location }}
                                    </td>
                                    <td ng-show="sync.current.item.scrap_d_qty">
                                        {{ item.qty }}
                                    </td>
                                    <td>
                                        {{ item.material }}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default haute-ligne" ng-click="useScrap(item, sync.current.item)"><span class="glyphicon glyphicon-ok"></span></button>
                                        </div> 
                                    </td>

                                </tr>
                            </table>

                        </fieldset>
                    </form>               
                </div>
            </div>

            <!-- Submit and confirm operations -->
            <form name="grid" ng-submit="formSubmitted=1">
                <fieldset ng-disabled="sync.current.item.workcenter_id != workcenter || raw_materials.$invalid">
                    <div>
                        <button ng-show="sync.current.item.btnStartEnable" type="button" class="btn btn-default haute-ligne" ng-click="resign_reasons = !resign_reasons"><span class="glyphicon glyphicon-pause"></span>Resign</button>
                        <table class="table table-condensed" ng-show="resign_reasons">
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default haute-ligne"
                                            ng-click="resign(sync.current.item, 'shortage')">
                                            Components shortage / Brak komponentów
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default haute-ligne"
                                            ng-click="resign(sync.current.item, 'quality_issue')">
                                            Quality issue / Wada jakościowa
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default haute-ligne"
                                            ng-click="resign(sync.current.item, 'not_ready')">
                                            Not ready / Nie gotowe
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default haute-ligne"
                                            ng-click="resign(sync.current.item, 'leader_decision')">
                                            Leader decision / Decyzja Lidera
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default haute-ligne"
                                            ng-click="resign(sync.current.item, 'no_time')">
                                            No time / Brak czasu
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table class="table table-condensed" style="word-break: break-all;">
                        <tr>
                            <th ng-repeat="field in fields">{{ field.name }}</th>
                            <th colspan="2">Operations</th>
                            <th>Rack</th>
                            <th></th>
                        </tr>
                        <tbody ng-repeat="line in sync.current.item._v.lines track by $index" ng-form="f{{$index}}">
                            <tr ng-hide="isLineValid(grid, 'f'+$index) && line.lock" ng-class="{false: 'locked'}[line.lock]">
                                <td ng-repeat="s in line.scans track by $index">
                                    <input class="haute-ligne" required="true"
                                        size="16"
                                        ng-model="line.scans[$index]"
                                        ng-focus="focusOnLineScan(line, $index)" 
                                        ng-blur="lockOnValidLine(line, grid, 'f'+$parent.$index)"
                                        ensure-value="{{ sync.current.item.lot_number }}">
                                    </input>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default haute-ligne" ng-show="sync.current.item.machine.type" ng-click="machine(sync.current.item)"><span class="glyphicon glyphicon-flag"></span></button>
                                        <button type="button" class="btn btn-default haute-ligne" ng-show="sync.current.item.quality_form_url" ng-click="openInNewTab(sync.current.item)"><span class="glyphicon glyphicon-comment"></span></button>
                                    </div> 
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning haute-ligne" 
                                            ng-click="print(sync.current.item)" 
                                            ng-disabled="!sync.current.item._v.labels"
                                            ng-show="printAfterScan(sync.current.item, grid, 'f'+$index)"><span class="glyphicon glyphicon-print"> {{ sync.current.item._v.labels.length }}</span>
                                            
                                        </button>
                                    </div>
                                </td>
                          
                                <td>
                                    <input class="haute-ligne col-xs-5" required="true"
                                        ng-model="line.rack"
                                        ng-focus="focusOnLineRack(line)"
                                        ng-blur="lockOnValidLine(line, grid, 'f'+$index)">
                                    </input>
                                </td>

                                <td>
                                    <button class="btn pull-right haute-ligne" 
                                        ng-click="line.lock=true" 
                                        ng-show="isLineValid(grid, 'f'+$index)">Confirm
                                    </button>
                                </td>
                            </tr>
                            <tr ng-show="isLineValid(grid, 'f'+$index) && line.lock">
                                <td ng-repeat="s in line.scans track by $index">
                                    {{ s }}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default haute-ligne" ng-show="sync.current.item.machine.type"><span class="glyphicon glyphicon-flag"></span></button>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning haute-ligne" 
                                            ng-click="print(sync.current.item)"
                                            ng-disabled="!sync.current.item._v.labels"><span class="glyphicon glyphicon-print">  {{ sync.current.item._v.labels.length }}</span>
                                        </button>
                                    </div>
                                </td>
                                <td>{{line.rack}}</td>
                                <td><button class="btn pull-right haute-ligne" ng-click="line.lock=false">Edit</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-hide="sync.current.item.state == 'done'">
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button class="btn btn-success haute-ligne" 
                                    ng-disabled="grid.$invalid || sync.current.item.pending || sync.current.item._v.lock || checkLocks()" 
                                    ng-click="do(sync.current.item)"
                                    data-toggle="modal" data-target="#casier-modal"> OK
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </ion-scroll>
    </div>
</div>
</div>
</div>