<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main.home">
        <span class="glyphicon glyphicon-home"></span>Home 
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a ui-sref="main.assembly({workcenter: workcenter_id})">{{ title }}</a></li>
      <li><a ng-show="workcenter_id" ui-sref="main.replenish({workcenter: workcenter_id})">Replenish</a></li>
      <li><a href="javascript:location.reload()"><span class="glyphicon glyphicon-repeat"></span>Reload</a></li>
    </ul>
<!--
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>
-->
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="main.tdcp({ workcenter: workcenter_id })">Technical Description Check Point (TDCP)</a></li>
        <li><a ui-sref="main.configuration">Configuration</a></li>
        <li><a ui-sref="login">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
