<div class="container-fluid">
    <h1>Activity Log</h1>

    <div>User: {{ loggedUser }}</div>
    <div>Today's sessions</div>

    <div ng-hide="duration">No order done yet today</div>
    <div ng-show="duration">
        <div>First order finished at {{ startDate | date: 'HH:mm' }} — Last order finished at {{ endDate  | date: 'HH:mm'}} ({{ duration | date: 'HH:mm' }}). Total Quantity: {{ totalQty}} </div>
        <ul>
            <li ng-repeat="line in activities">
                {{ line.start | date: 'HH:mm' }} to {{ line.end }} - {{line.name}} - qty: {{ line.qty }}
            </li>
        </ul>
        <div>Pauses</div>
        <button ng-click="addPause(5)">+5 min</button>
        <button ng-click="addPause(5)">+15 min</button>
        <button ng-click="addPause(5)">+30 min</button>
        <div>Total Pauses {{ totalPauses }} min </div>
        <ul>
            <li ng-repeat="pause in pauses track by $index">{{ pause.duration }} min <a style="fa:trash" ng-click="removePause(pause.id)">x</a></li>
        </ul>
    </div>
</div>